
table.basic{
    @apply w-full mt-4 ;
}

table.basic tr, td{
    @apply border border-black   p-1;
}
table.basic thead{
    @apply bg-blue-100;
}
table.basic a{
    @apply border py-1 px-2 rounded-lg text-sm inline-flex gap-1 mx-2 ;
}

.productForm{
    @apply flex flex-col gap-3;
}

.input {
    @apply  outline-none border-[1px] bg-gray-100 py-1 px-3 w-full rounded-md hover:bg-gray-200 transition duration-200 ease-in-out focus-within:ring-2;
}

h1{
    @apply text-2xl py-3 text-purple-950 font-semibold;
}

.btn{
    @apply p-2 transition duration-200 ease-in-out rounded-md shadow-sm border-[1px] border-gray-300 ;
}

.description-column {
  max-width: 10px; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
